/*------------------- mobile -----------------*/

@media only screen
and (min-device-width : 414px)
and (max-device-width : 846px)
{
  /*------------------- element tag ------------------ */
  body{
    font-size:15px;
    font-family: 'Poppins', sans-serif;
  }
  h2{
    margin-top: -10px;
  }
  h3{
    color:grey;
  }
  p{
    color:grey;
    margin-top:-10px;
  }
  /*------------------- class tag ------------------ */
.top-container{
  text-align: center;
  padding:10px  25px
}
.middle-container{
  position:relative;
  padding-top:50px;
  width:100%;
  margin-left: auto;
  margin-right: auto;
}
.top-div{
  width:250px;
  border-top:solid hsl(0,78%,62%);
  box-shadow: 0 1px 3px 1px grey;
  position:absolute;
  left: 80px;
  top:180px

}
.top-left{
  width:250px;
  border-top:solid hsl(180, 62%,55%);
  box-shadow: 0 1px 3px 1px grey;
  position:absolute;
  top: 0px;
  left: 80px;
}
.top-bottom{
  width:250px;
  border-top:solid hsl(34, 97%, 64%);
  box-shadow: 0 1px 3px 1px grey;
  position:absolute;
  top: 360px;
  left: 80px;
}
.top-right{
  width:250px;
  border-top:solid hsl(212, 86%, 64%);
  box-shadow: 0 1px 3px 1px grey;
  position: absolute;
  top: 540px;
  left:80px;
}
.top-header{
  margin:20px 0;
  margin-left: 15px;
  font-weight: bold;
  color:black;
}
.middle-content{
  margin:5px 0;
  margin-left: 15px;
}
.right-image{
  margin-left: 180px;
  margin-top: 10px;
  width: 40px;
}

}


/*------------------- Desktop -----------------*/
@media only screen
and (min-device-width :1440px)
{
/*----------------------- element tag ---------------*/
body{
  font-size:15px;
  font-family: 'Poppins', sans-serif;
}
h2{
  margin-top: -10px;
}
h3{
  color:grey;
}
p{
  color:grey;
  margin-top:-10px;
}

/*------------------- class tag ------------------*/
.top-container{
  text-align: center;
  padding-top:10px;
}
.middle-container{
  position:relative;
  padding-top:50px;
  width:800px;
  margin-left: auto;
  margin-right: auto;
}
.top-div{
  width:250px;
  border-top:solid hsl(0,78%,62%);
  box-shadow: 0 1px 3px 1px grey;
  position:absolute;
  left: 275px;

}
.top-left{
  width:250px;
  border-top:solid hsl(180, 62%,55%);
  box-shadow: 0 1px 3px 1px grey;
  position:absolute;
  top: 150px;
  left: 0;
}
.top-bottom{
  width:250px;
  border-top:solid hsl(34, 97%, 64%);
  box-shadow: 0 1px 3px 1px grey;
  position:absolute;
  top: 275px;
  right: 275px;
}
.top-right{
  width:250px;
  border-top:solid hsl(212, 86%, 64%);
  box-shadow: 0 1px 3px 1px grey;
  position: absolute;
  top: 150px;
  right: 0;
}
.top-header{
  margin:20px 0;
  margin-left: 15px;
  font-weight: bold;
  color:black;
}
.middle-content{
  margin:5px 0;
  margin-left: 15px;
}
.right-image{
  margin-left: 180px;
  margin-top: 10px;
  width: 40px;
}
}
