@media(max-width:600px){
  .four-card-feature{
    display: grid;
    grid-template-columns:1fr;
    grid-template-areas:
    "box1"
    "box2"
    "box3"
    "box4";
    gap:1rem;
    padding-left:3rem;
  }
  .art-text {
    width: 380px;
}
  #card-bg{
  width:80%;
  height:100%;
  margin: 0 auto;
  background-color:hsl(0, 0%, 100%);
  padding-bottom: 5rem;
}
}

@media(max-width:500px){
  .four-card-feature{
    display: grid;
    justify-items:center;
    grid-template-columns:1fr;
    grid-template-areas:
    "box1"
    "box2"
    "box3"
    "box4";
    gap:1rem;
    /* padding-left:0px; */
  }
  #h1-text {
    font-size: 20px;
}
  .art-text {
    width: 260px;
}
#card-bg{
  width:80%;
  height:100%;
  margin: 0 auto;
  background-color:hsl(0, 0%, 100%);
  padding-bottom: 5rem;
}
.shadow-box {
    width: 200px;
}
.supervisor-box{
  border-top:3px solid hsl(180, 62%, 55%);
  align-self: center;
  margin-left: 0px;
}
.calculator-box{
border-top:3px solid hsl(212, 86%, 64%);
align-self: center;
margin-right: 100px;
}
}
