*{
  /* background-color:red; */
}
html,body{
  font-family: font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 200;
  background-image: url(./images/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
#card-bg{
  width:80%;
  height:100vh;
  margin: 0 auto;
  background-color:hsl(0, 0%, 100%);
}
#center-content{
padding-top:5rem;
}
.title-text{
 text-align: center;
 margin: 0 auto;
}
#h1-text{
  font-weight: 200;
  margin:0;
}
#powered-by-tech{
  font-weight: 600;
  margin:0;
}
.art-text{
  width:400px;
  margin:0 auto;
  padding-bottom:3rem;
  padding-top:1rem;
}
.four-card-feature{
  display: grid;
  justify-items:center;
  grid-template-columns:repeat(3, 1fr);
  grid-template-areas:
  "box1 box2 box4"
  "box1 box2 box4"
  "box1 box3 box4";
  gap:1rem;
  padding:0 5px;
}
.shadow-box{
  width:250px;
  box-shadow:2px 2px 4px -2px #000;
  background-color:hsl(0, 0%, 100%);
  padding:15px;
}
img{
  float:right;
  width:50px;
}
.supervisor-box{
  border-top:3px solid hsl(180, 62%, 55%);
  align-self: center;
  margin-left: 100px;
}
.team-builder-box{
  border-top:3px solid hsl(0, 78%, 62%);
  align-items: start;
}
.karma-box{
border-top:3px solid hsl(34, 97%, 64%);
}
.calculator-box{
border-top:3px solid hsl(212, 86%, 64%);
align-self: center;
margin-right: 100px;
}
